.banner_cls {
  position: relative;
  top: 0px;
  bottom: 0px;
  height: 60px;
}

.left_side_cls {
  margin-right: 3%;
  width: 20%;
  height: 100%;
  float: left;
  display: inline-block;
}

.logo_cls {
  margin-top: 7px;
  margin-bottom: 7px;
}

.right_side_cls {
  margin-right: 1%;
  width: 76%;
  height: 100%;
  float: left;
  display: inline-block;
}

.search_div_cls {
  float: left;
  width: 70%;
  display: inline-block;
  margin-top: 1%;
}

.search_input_cls {
  display: inline-block;
  width: 70%;
  padding-top: 9px;
  padding-right: 12px;
  padding-bottom: 9px;
}

.setting_div_cls {
  display: inline-block;
  width: 30%;
  margin-top: 1%;
}

.setting_btn_cls {
  margin-right: 2%;
  display: inline-block;
  float: right;
}

.body_cls {
  position: relative;
  top: 0px;
  bottom: 0px;
}

.icon_cls {
  width: 20%;
  padding-left: 0px;
  padding-right: 0px;
}

.nav_table_cls {
  width: 100%;
}

.nav_row_cls
{
  padding-left: 2%;
  padding-right: 2%;
  height: 30px;
}

.icon_cell_cls {
  text-align: right;
  padding-right: 2%;
  width: 20%;
}

.label_cell_cls {
  text-align: left;
  padding-left: 5%;
  padding-bottom: 5%;
  width: 70%;
  font-family: arial;
  font-size: 14px;
}

.count_cell_cls {
  text-align: right;
  padding-left: 2%;
  width: 10%;
  padding-bottom: 5%;
  font-family: arial;
  font-size: 14px;
}

.lib_div_cls {
  font-family: arial;
  font-size: 14px;
  color: red;
  font-weight: bold;
  padding-top: 10px;
}

.div_cls {
  padding-top: 5px;
  padding-bottom: 6px;
}
